.side-bar-videos-dir-container {
  position: relative;
  width: 363px;
  height: 211px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  float: right;
  // overflow: scroll;
  font-family: 'Roboto';

  .header {
    width: 363px;
    height: 16px;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;

    .next {

      font-size: 13px;
      position: absolute;
      font-weight: 500;
    }
    .checkbox {
      width: 160px;
      height: 16px;
      position: absolute;
      display: inline-block;
      left: 180px;
      .autoplay{
        position: absolute;
        color: #76767A;
        left: 35px;
        font-size: 13px;
        bottom: 2px;
        font-weight: 900;
      }
      .icon {
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        right: 50px;
        background: no-repeat url('../images/youTube-sprite2.webp') -263px -190px;
        background-size: auto;
      }
      .switch{
        position: relative;
        display: inline-block;
        width: 35px;
        height: 15px;
        left: 120px;
        padding-right: 2px;
        overflow: hidden;
        vertical-align: middle;
        cursor: pointer;
        background-color: #167AC6;
        border-radius: 12px;
        .toggle{
          position: absolute;
          background: #fbfbfb;
          width: 13px;
          height: 13px;
          top: 1px;
          left: 20px;
          border-radius: 13px;
          z-index: 200000000000000;
        }
      }
    }
  }
  .list-video-container {
    // width: 363px;
    // height: 94px;
    position: relative;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    .thumbnail{
      min-width: 196px;
      height: 110px;
      margin-right: 10px;
      cursor: pointer;
      .video-duration{
        color: #FFF;
        font-size: 11px;
        background-color: #000;
        opacity: .75;
        padding: 0px 4px;
        line-height: 14px;
        font-weight: 500;
        position: absolute;
        bottom: 2px;
        right: 149px;
      }
    }

    .list-video-info-container{
      padding-left: 5px;

      .title{
        font-size: 14px;
        margin-bottom: 5px;
        cursor: pointer;
        &:hover {
          // text-decoration: underline;
          color: #167AC6;
        }
      }
      .small-text{
        cursor: pointer;
        font-size: 12px;
        margin-bottom: 4px;
        color: #76767A;
        &:hover {
          // text-decoration: underline;
          color: #167AC6;
        }
      }
      .small-view-text {
        font-size: 12px;
        margin-bottom: 4px;
        color: #76767A;
      }

    }

  }
  // other classes go inside of here
}
.channel-hover-pop-up {
  cursor: default;
  .channel-hover-container {
    position: absolute;
    width: 350px;
    max-width: 350px;
    min-height: 90px;
    min-width: 220px;
    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.02);
    .banner-div {
      height: 96px;
      width: 350px;
      .channel-logo-a-tag {
        .channel-logo-img {
          position: absolute;
          margin-left: 13px;
          height: 64px;
          width: 64px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          box-shadow: rgba(0,0,0,.5) 0 4px 5px -1px;
          cursor: pointer;
        }
      }
    }
    .title-video-container {
      padding: 12px 12px 0;
      .inner-title-video-container {
        margin-left: 0;
        max-width: 348px;
        font-family: arial,sans-serif;
        font-size: 12px;
        a {
          cursor: pointer;
          text-decoration: none;
          font-family: arial,sans-serif;
        }
        .channel-title-a-tag {
          color: #333;
          &:hover {
            text-decoration: underline;
          }
        }
        .video-count-a-tag {
          color: #999;
          font-size: 11px;
        }
      }
      .subscriber-button {
        width: 170px;
        height: 24px;
        margin: 8px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
        .button-text-container {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          width: 88.703px;
          height: 22px;
          padding: 0 8px 0 5.5px;
          text-decoration: none;
          color: #fefefe;
          border: solid 1px transparent;
          background-color: #e62117;
          font-size: 11px;
          border-radius: 2px 0 0 2px;
          box-shadow: 0 1px 0 rgba(0,0,0,0.05);
          &:hover {
            background-color: #cc181e;
          }
          .sprite-subscribe {
            margin-right: 6px;
            background: no-repeat url('../images/youTube-sprite2.webp') -298px -53px;
            background-size: auto;
            width: 16px;
            height: 12px;
          }
          .text-subscribe {

          }
        }
        .count-container {
          height: 22px;
          border: 1px solid #ccc;
          border-left: none;
          border-radius: 0 2px 2px 0;
          display: flex;
          align-items: center;
          padding-left: 7px;
          padding: 0 6px;
          color: #737373;
          font-size: 11px;
        }
      }
    }
    .description-container {
      .inner-description-container {
        height: 56px;
        width: 322px;
        padding: 0 12px 8px;
        .description-div {
          color: #999;
          font-size: 12px;
          font-family: arial, sans-serif;

        }
      }
    }
  }
}

.load-more-container {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 5vh;
    width: 240px;
    z-index: 100000;
    top: 112vh;
    border: 1px solid #ccc;
    background: #fff;
    margin-left: 60px;
    border-radius: 5px;
    &:hover {
      color: #167AC6;
      transform: scale(1.03);
    }
    #loading-dots {
      margin-left: 7px;
      margin-top: 6px;
      font-size: 15px;
    }
}
