<section class="h-trending-dir-outer-wrap">
    <div class="nav-container">
        <div class="links-wrap">
            <div class="home">Home</div>
            <div class="trending">Trending</div>
            <div class="subscriptions">Subscriptions</div>
        </div>
    </div>

    <section class="trending-vid-carousel">
        <p class="trending-title">Trending</p>
    <!-- NOTE: left carousel arrow -->
        <section class="left-arrow-container">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </section>

        <aside class="h-trending-carousel" ng-repeat='video in trendingVideos.items | limitTo: 6'>
            <div class='thumbnail' style="background: url('{{video.snippet.thumbnails.standard.url}}') no-repeat center; background-size: 100% 138%; background-position: 0px -20px" alt='Trending thumbnail video'
            ng-click='passVideo(video)'
            ui-sref='video({videoId: video.id})'
            >
                <p class="video-duration">{{convertTime(video.contentDetails.duration)}}</p>
            </div>

            <div class="trending-video-title">{{video.snippet.title}}</div>
            <div class="trending-channel-title">{{video.snippet.channelTitle}}</div>
        <section class="video-count-container">
            <div class="trending-view-count">{{video.statistics.viewCount | number}}</div>
            <div class="dot-style">
                <i class="fa fa-circle" aria-hidden="true"></i>
            </div>
            <div class="trending-publish">{{publishConverter(video.snippet.publishedAt)}}</div>
        </section>
        </aside>

        <!-- NOTE: right carousel arrow -->
        <section class="right-arrow-container">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </section>
    </section>
</section>
