/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$tvd-container-bg-color: #F1F1F1;
$tvd-vid-wrap-bg: #FFFFFF;
$tvd-title-text: #187BC6;
$tvd-subtext-color: #767676;
$tvd-font-fam: 'Roboto', sans-serif;
$tvd-red-underline: #CC181E;

$youtube-logo-red: #E62117;
$yt-primary-red: #CC181E;
$yt-selected-gray: #333333;
$yt-unselected-lightgray: #C8C8C8;
$left-nav-subcategory-color: #444444;
$primary-icon-color: #7C7C7C;
$primary-bg: #FFFFFF;
$secondary-bg: #F1F1F1;
$video-main-title: #167AC6;
$video-sub-title: #767676;
$search-color: #767676;
$primary-font-family: 'Roboto', sans-serif;

// width: 1104px; height: 621px; left: 0px; top: 0px;

@mixin search-font {
  font-family: $primary-font-family;
  font-size: 16px;
  color: $search-color;
}

@mixin center-nav-selected {
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 13px;
  color: $yt-selected-gray;
  line-height: 40px;
}

@mixin center-nav-default {
  font-family: $primary-font-family;
  font-weight: 400;
  font-size: 13px;
  color: $yt-unselected-lightgray;
  line-height: 40px;
}

@mixin video-main-title {
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 13px;
  color: $video-main-title;
  line-height: 17px;
  max-width: 190px;
  text-align: left;
}

@mixin video-sub-title-unselected {
  font-family: $primary-font-family;
  font-weight: 400;
  font-size: 11px;
  color: $video-sub-title;
  line-height: 14px;
  max-width: 196px;
  text-align: left;
}

@mixin video-sub-title-selected {
  font-family: $primary-font-family;
  font-weight: 400;
  font-size: 11px;
  color: $video-main-title;
  line-height: 14px;
}

.home-view-main-wrapper {
  background: #F1F1F1;
  width: 100%;
}

.h-landing-main-wrapper {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0px auto;
  // background: #F1F1F1;
  display: flex;
  justify-content: center;
  // height: 30vh;
  position: relative;
  max-width: 1100px;
  min-width: 1100px;

  .h-landing-psuedo-container {
    position: absolute;
    max-width: 1100px;
    min-width: 1100px;
    width: 100%;
    z-index: 1;
  }
  .h-trending-title {
    left: 7px;
    display: flex;
    position: absolute;
    color: $yt-selected-gray;
    font-size: 15px;
    font-family: $primary-font-family;
    line-height: 18px;
    margin-top: 10px;
    margin-left: 27px;
  }
  .h-left-arrow-container {
    visibility: hidden;
    color: $yt-unselected-lightgray;
    position: absolute;
    top: 79px;
    left: 25px;
  }
  .h-left-arrow-container:hover {
      color: #000;
      position: absolute;
      font-size: 20px;
      background: #fff;
      width: 35px;
      height: 50px;
      padding-left: 9px;
      padding-top: 14px;
      position: absolute;
      margin-left: -20px;
      margin-top: -10px;
      box-shadow: -1px 0px 1.5px 1px $yt-unselected-lightgray;
  }

  .h-right-arrow-container {
    color: $yt-unselected-lightgray;
    position: absolute;
    right: 0;
    margin-top: 79px;
    margin-right: 25px;
  }
.h-right-arrow-container:hover{
    color: #000;
    font-size: 20px;
    background: #fff;
    width: 35px;
    height: 50px;
    padding-left: 18px;
    padding-top: 14px;
    position: absolute;
    right: -22px;
    margin-top: 57px;
    margin-right: 25px;
    box-shadow: 1px 0px 1.5px 1px $yt-unselected-lightgray;
  }

  .h-trending-video-wrapper {
    background: #F1F1F1;
    max-width: 1058px;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    background: $tvd-vid-wrap-bg;
    padding: 35px 0px 8px 19px;
    border-bottom: 1px solid $yt-unselected-lightgray;
  .h-h-trending-carousel {
    min-width: 196px;
    margin-right: 13px;
    .h-thumbnail {
        height: 110px;
        margin-right: 10px;
        display: flex;
        position: relative;
        .h-video-duration{
          color: #FFF;
          font-size: 11px;
          background-color: #000;
          opacity: .75;
          padding: 0px 4px;
          line-height: 14px;
          font-weight: 500;
          position: absolute;
          bottom: 2px;
          right: 2px;
        }
      }
    .h-trending-video-title{@include video-main-title}
    .h-trending-video-title:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    .h-trending-channel-title{@include video-sub-title-unselected}
    .h-trending-channel-title:hover{
      cursor: pointer;
      text-decoration: underline;
      color: $video-main-title;
    }
    .h-video-count-container{
      display: flex;

    .h-trending-view-count{@include video-sub-title-unselected}
    .h-trending-publish{@include video-sub-title-unselected}
    .h-dot-style{
      display:flex;
      justify-content: center;
      flex-direction: column;
      font-size: 4px;
      color: $tvd-subtext-color;
      margin: 0px 5px;
      }
    }
  }
}
.h-carousel-wrapper  {
  display: flex;
  position: relative;
}
}
