<div class="comments-dir-main-container">
  <div class="add-comment"></div>
  <div class="comment-wrap" ng-repeat="comment in comments.items">
    <div
    class="thumbnail-img"
    style="background: url('{{comment.snippet.topLevelComment.snippet.authorProfileImageUrl}}')"
    ></div>
    <div class="comments-container">
      <div class="original-comment-wrap">
        <div class="name-wrap">
          <div class="name">{{comment.snippet.topLevelComment.snippet.authorDisplayName}}</div>
          <div class="hours">{{comment.snippet.topLevelComment.snippet.publishedAt}}</div>
        </div>
        <div class="orig-comment" ng-bind-html="comment.snippet.topLevelComment.snippet.textDisplay">{{comment.snippet.topLevelComment.snippet.textDisplay}}</div>
      </div>
      <div class="view-all">View {{comment.snippet.totalReplyCount === 1 ? '' : 'all'}} {{comment.snippet.totalReplyCount}} {{comment.snippet.totalReplyCount === 1 ? 'reply' : 'replies'}}</div>
      <div class="reply-wrap">

      </div>
    </div>
    <!-- <p> user name: {{comment.snippet.topLevelComment.snippet.authorDisplayName}}</p> -->
    <!-- <p> comment: {{comment.snippet.topLevelComment.snippet.textDisplay}}</p> -->
    <div class="replies">
      <div class="reply" ng-repeat="reply in comment.replies.comments">
        <!-- <h1>REPLIESS!!!!</h1> -->
        <!-- <p>Reply Author: {{reply.snippet.authorDisplayName}}</p> -->
        <!-- <p>Reply Text: {{reply.snippet.textDisplay}}</p> -->
      </div>
    </div>
  </div>
</div>
