@import url('https://fonts.googleapis.com/css?family=Roboto');

$com-dir-font: 'Roboto', sans-serif;
$com-dir-name-color: #128EE9;

.comments-dir-main-container {
  width: 100%;
  font-family: $com-dir-font;
  margin-left: 15px;
  .add-comment {}
  .comment-wrap {
    width: 100%;
    display: flex;
    margin: 5px 0px;
    font-size: 14px;
    .thumbnail-img {
    height: 48px;
    min-width: 48px;
    cursor: pointer;
    }
    .comments-container {
      display: flex;
      flex-direction: column;
      width: 640px;
      margin-bottom: 20px;
      .original-comment-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-left: 10px;
        padding-top: 3px;
        .name-wrap{
          display: flex;
          margin: 0 0 7px 0;
          .name {
            color: $com-dir-name-color;
            margin: 0 5px 0 0;
            cursor: pointer;
          }
          .hours {}
        }
        .orig-comment {
          width: 100%;
          line-height: 1.2;
        }
      }
      .reply-wrap {
        display: flex;
        margin-bottom: 10px;
        .reply {
          color: #6F6F6F;
          margin-left: 10px;
          cursor: pointer;
        }
        .total-likes {
          font-size: 14px;
          color: $com-dir-name-color;
          margin-left: 10px;
        }
        .like {
          background: url('./../../Images/likes-dislikes-sprite.webp') -255px 0px;
          background-size: auto;
          margin-left: 10px;
          cursor: pointer;
        }
        .dislike {
          background: url("./../../Images/likes-dislikes-sprite.webp") -255px -36px;
          background-size: auto;
          margin-left: 10px;
          cursor: pointer;
        }
        .like-icon {
          width: 14px;
          height: 14px;
          opacity: .54;
        }
      }
      .view-all-wrap {
        display: flex;
        margin-bottom: 15px;
        .view-all {
          color: $com-dir-name-color;
          margin-left: 10px;
          cursor: pointer;
          margin-right: 3px;
        }
        .arrow-icon {
          background: url('./../../Images/likes-dislikes-sprite.webp') -20px 0px;
          background-size: auto;
          width: 16px;
          height: 16px;
          opacity: .7;
        }
      }
      .replies {
        width: 100%;
        padding-left: 10px;
        .reply-cont {
          display: flex;
          width: 100%;
          .reply-thumbnail {
            min-width: 32px;
            height: 32px;
          }
          .reply-comment-wrap {
            margin-left: 10px;
            .name-wrap {
              display: flex;
              margin-bottom: 7px;
              .name {
                margin-right: 7px;
                color: $com-dir-name-color;
              }
              .time-stamp {}
            }
            .comment {
              line-height: 1.2;
            }
            .reply-wrap {
              display: flex;
              margin-top: 7px;
              .reply {}
              .total-likes {}
              .likes {
                background: url("./../../Images/comment-reply-sprite.webp") -182px 0;
                background-size: 324px 132px;
                margin: 0 10px 0 10px;
              }
              .dislikes {
                background: url("./../../Images/comment-reply-sprite.webp") -34px -24px;;
                background-size: 324px 132px;
              }
              .l-d-size {
                height: 14px;
                width: 14px;
                opacity: .54;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
