@import url('https://fonts.googleapis.com/css?family=Roboto');

$footer-font: 'Roboto', sans-serif;

.footer-dir-outer-wrap {
  width: 100%;
  height: 50px;
  font-family: $footer-font;
  .top-buttons-wrap {
    width: 100%;
    display: flex;
    .mr {
      margin-right: 14px;
    }
    .you-tube-icon {
      width: 73.5px;
      height: 30px;
      background: url('./../../../Images/footer-dir-icons.webp') -337px -369px;
      background-size: 435px 425px;
      background-repeat: no-repeat;
    }
    .language-wrap {
      display: flex;
      .language-icon {
        background: url("'./../../../Images/footer-dir-icons.webp'") -96px -148px no-repeat;
        background-size: 435px 425px;
        width: 25.5px;
        height: 15px;
        opacity: .5;
      }
      .language {}
    }
    .location {}
    .restricted {}
    .history {}
    .help {}
  }
  .top-links {
    display: flex;
    .mr {
      margin-right: 15px;
    }
    .about {}
    .press {}
    .copyright {}
    .creators {}
    .advertise {}
    .developers {}
    .youtube {}
  }
  .bottom-links {
    display: flex;
    .terms {}
    .privacy {}
    .policy {}
    .feedback {}
    .try-something {}
    .copyright {}
  }
}
// .example{
//   text-align: center;
// }
