

<section class='trending-view-dir-outer-wrap'>
  <nav class="nav-container">
    <section class="links-wrap">
      <nav class="home" ui-sref="landing">Home</nav>
      <nav class="trending" ui-sref="#">Trending</nav>
      <nav class="subscriptions">Subscriptions</nav>
    </section>
  </nav>

  <div class="trending-vids-wrap">
    <div class="video-wrap" ng-repeat="video in trendingData">
      <div
        class='thumbnail'
        ng-click='passVideo(video)'
        ui-sref='video({videoId: video.id})'
        style="background: url('{{video.snippet.thumbnails.standard.url}}') no-repeat center; background-size: 100% 138%; background-position: 0px -20px"
        alt="video thumbnail">
          <p class="video-duration">{{video.contentDetails.duration}}</p>
      </div>
      <div class="video-info-wrap">
        <div class="video-title">{{video.snippet.title}}</div>
        <div class="channel-title-wrap">
          <div class="channel-title">{{video.snippet.channelTitle}}</div>
          <div class="checkmark"></div>
        </div>
        <div class="views-wrap">
          <div class="one-day-ago">{{videoTime(video.snippet.publishedAt)}}</div>
          <div class="dot"></div>
          <div class='views'>{{video.statistics.viewCount | number}} views</div>
        </div>
        <div class="description">{{ video.snippet.description | limitTo: 150 }}{{video.snippet.description.length > 150 ? '...' : ''}}</div>
      </div>
      <br>
    </div>
  </div>
</section>
