@import url('https://fonts.googleapis.com/css?family=Roboto');

$tvd-container-bg-color: #F1F1F1;
$tvd-vid-wrap-bg: #FFFFFF;
$tvd-title-text: #187BC6;
$tvd-subtext-color: #767676;
$tvd-font-fam: 'Roboto', sans-serif;
$tvd-red-underline: #CC181E;



.trending-view-dir-outer-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $tvd-container-bg-color;
  font-family: $tvd-font-fam;
  margin-top: 89px;
  .nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: $tvd-vid-wrap-bg;
    position: fixed;
    top: 49px;
    border: solid 1px $tvd-container-bg-color;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 0.5px;
    // font-weight: 700;
    .links-wrap{
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      // font-weight: 580;
      width: 226px;
      .home {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: $tvd-subtext-color;
      }
      .trending {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-top: 3px;
        border-bottom: solid $tvd-red-underline 3px;
      }
      .subscriptions {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: $tvd-subtext-color;
      }
    }
  }
  .trending-vids-wrap {
    width: 950px;
    margin-top: 10px;
    padding: 22px 18px;
    background-color: $tvd-vid-wrap-bg;
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px rgba(148,148,148,.2);

    .video-wrap {
      display: flex;
      margin-bottom: 10px;
      cursor: pointer;
      .thumbnail {
        min-width: 196px;
        height: 110px;
        margin-right: 10px;
        position: relative;
        .video-duration{
          color: #FFF;
          font-size: 11px;
          background-color: #000;
          opacity: .75;
          padding: 0px 4px;
          line-height: 14px;
          font-weight: 500;
          position: absolute;
          bottom: 2px;
          right: 2px;

        }
        .watch-later {
          width: 22px;
          height: 22px;
          background: url('./../../../Images/footer-dir-icons.webp') no-repeat;
          background-color: white;
          background-position: -21.5px -371.5px;
          background-size: 2000%;
          border-radius: 4px;
          position: absolute;
          right: 3px;
          bottom: 3px;
        }
        .watchLater {
          display: inline;
          display: none;
          width: 22px;
          height: 22px;
          background: url('./../../../Images/footer-dir-icons.webp') no-repeat;
          background-color: white;
          background-position: -21.5px -371.5px;
          background-size: 2000%;
          border-radius: 4px;
          position: absolute;
          right: 3px;
          bottom: 3px;
        }
        .watchLaterPopup {
          width: 70px;
          height: 23px;
          font-size: 11px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: black;
          color: white;
          position: absolute;
          bottom: 30px;
          right: -21px;
          border-radius: 5px;
        }
        .signInPopup {
          width: 70px;
          height: 23px;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: black;
          color: white;
          position: absolute;
          bottom: 30px;
          right: -21px;
          border-radius: 5px;
          z-index: 1;
        }
        #triangle {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid black;
          position: absolute;
          bottom: 26px;
          right: 4px;
        }
        .checkmark-wrap {
          width: 22px;
          height: 22px;
          background: white;
          border-radius: 100%;
          position: absolute;
          bottom: 5px;
          right: 4px;
        }
        // .vid-added-wrap{
        //   width: 22px;
        //   height: 22px;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   background: rgb(85,128,52);
        //   .vid-added {
        //     width: 22px;
        //     height: 22px;
        //     background: no-repeat url('./../../../Images/playlistView.webp');
        //     background-position: 16.65% 30.5%;
        //     background-size: 4424%;
        //     opacity: .6;
        //   }
        // }
      }
      .video-info-wrap {
        display: flex;
        flex-direction: column;
        padding-top: 3px;
        width: 500px;
        .video-title {
          color: $tvd-title-text;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.3;
          margin-bottom: 5px;
        }
        .channel-title-wrap {
          margin-bottom: 5px;
          .channel-title {
            font-size: 12px;
            color: $tvd-subtext-color;
          }
          .checkmark {}
        }
        .views-wrap {
          font-size: 12px;
          color: $tvd-subtext-color;
          margin-bottom: 5px;
          display: flex;
          .one-day-ago {}
          .dot {
            margin: 0px 5px;
          }
          .views {}
        }
        .description {
          font-size: 12px;
          color: $tvd-subtext-color;
          line-height: 1.3;
        }
      }
    }
  }
}
.modal-container {
  width: 100%;
  height: 100vh;
  background: rgba(910, 40, 180, .5);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  .modal-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 400px;
    height: 400px;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: white;
    }
  }
}
